[submodule "sandbox/rails_sorcery_sample"]
	path = sandbox/rails_sorcery_sample
	url = https://github.com/hsbt/rails_sorcery_sample
[submodule "sandbox/rails_carrierwave_sample"]
	path = sandbox/rails_carrierwave_sample
	url = https://github.com/hsbt/rails_carrierwave_sample
[submodule "sandbox/twitalytics"]
	path = sandbox/twitalytics
	url = https://github.com/hsbt/twitalytics
[submodule "sandbox/nodepad"]
	path = sandbox/nodepad
	url = https://github.com/hsbt/nodepad
[submodule "sandbox/nodebeginner"]
	path = sandbox/nodebeginner
	url = https://github.com/hsbt/nodebeginner
[submodule "sandbox/rubyversion"]
	path = sandbox/rubyversion
	url = https://github.com/hsbt/rubyversion
[submodule "sandbox/rake-issue-chdir"]
	path = sandbox/rake-issue-chdir
	url = https://github.com/hsbt/rake-issue-chdir
