[submodule "sandbox/twitalytics"]
	path = sandbox/twitalytics
	url = https://github.com/hsbt/twitalytics
[submodule "sandbox/rubyversion"]
	path = sandbox/rubyversion
	url = https://github.com/hsbt/rubyversion
