development:
  adapter: mysql
  host: localhost
  database: whispered_development
  username: root
  password:

test:
  adapter: mysql
  host: localhost
  database: whispered_test
  username: root
  password:

production:
  adapter: mysql
  host: localhost
  database: whispered_production
  username: root
  password:
