development:
  adapter: mysql2
  host: localhost
  database: active_kokyaku_development
  username: root
  password:

test:
  adapter: mysql2
  host: localhost
  database: active_kokyaku_test
  username: root
  password:

production:
  adapter: mysql2
  host: localhost
  database: active_kokyaku_production
  username: root
  password:
