development:
  adapter: mysql2
  host: localhost
  database: whispered_development
  username: root
  password:
  reconnect: true

test:
  adapter: mysql2
  host: localhost
  database: whispered_test
  username: root
  password:
  reconnect: true

production:
  adapter: mysql2
  host: localhost
  database: whispered_production
  username: root
  password:
  reconnect: true
