<% if current_user %>
<%= render :partial => 'results', :locals => {:inquiries => @inquiries} %>
<% else %>
<div class="hero-unit">
  <h1>Whispered</h1>
  <p><%= link_to "Sign in with github", "/auth/github", :class => "btn btn-primary btn-large" %></p>
</div>
<% end %>