!!!
html
  head
    title= 'Nodepad'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7/jqueyr.min.js')
  body!= body
    script(type='text/javascript', src='/javascripts/application.js')
