[submodule "zsh-completions"]
	path = zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "zsh-manydots-magic"]
	path = zsh-manydots-magic
	url = git://github.com/knu/zsh-manydots-magic.git
[submodule "zsh-git-escape-magic"]
	path = zsh-git-escape-magic
	url = git://github.com/knu/zsh-git-escape-magic.git
[submodule "z"]
	path = z
	url = git@github.com:knu/z.git
[submodule "antigen"]
	path = antigen
	url = git@github.com:zsh-users/antigen.git
